<p> Born in Wales. Currently living in Sheffield.</p>
<p> Studying filmmaking in Manchester. <p>
  <p>
    <strong> Currently own 10 rabbits and a cat. </strong>  </p>
<p> Have one sister who just turned 22. </P>
  
